:root{
    --bg-gradient: linear-gradient(90deg, rgba(29,30,40,1) 0%, rgba(38,28,45,1) 90%, rgba(38,26,45,1) 100%);
    --text-counter: #FB5E84;
    --bg-count-light: #343650;
    --bg-count-dark: #2d2f45;
    --text-stat: #8385A9;
    --bg-alt: rgba(25, 26, 35, 1);
    --bg-alt2: rgba(25, 26, 35, 0.2);
    --border-radius:4px;
    --width: 70px;
    --height: 66px;
}
*, ::after, ::before{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    background: url(./images/bg-stars.svg), url(./images/pattern-hills.svg), linear-gradient(180deg, rgba(29,30,40,1) 0%, rgba(38,28,45,1) 90%, rgba(38,26,45,1) 100%);
    background-repeat: no-repeat;
    background-position-y: -100px, bottom, 0;
    background-position-x: 0, 25%, 0;
    background-size: cover, contain, cover;
}
.container{
    width: clamp(325px, 75vw, 690px);
    margin: auto;
    padding-top: 140px;
}
h1{
    letter-spacing: 0.6rem;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    width: 325px;
    margin: auto;
}
.countdown{
    padding-top: 54px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 260px;
}
.count-wrapper{
    background-color: var(--bg-count-dark);
    height: var(--height);
    width: var(--width);
    border-radius: var(--border-radius);
    color: var(--text-counter);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 0px 0px var(--bg-alt);
}
.line{
    position: absolute;
    top: 49.5%;
    left: 3px;
    height: 1px;
    width: 64px;
    background-color: var(--bg-alt2);
}
.line::after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--bg-alt);
    position: absolute;
    border-radius: 90px;
    right: -5px;
    top: -3px;
}
.line::before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--bg-alt);
    position: absolute;
    border-radius: 90px;
    left: -5px;
    top: -3px;
}
.count{
    position: absolute;
    height: var(--height);
    width: var(--width);
    font-size: 3.6rem;
    line-height: var(--height);
}
.top{
    height: var(--height);
    clip-path: inset(0 0 50% 0);
    background-color: var(--bg-count-dark);
}
.bottom{
    height: var(--height);
    clip-path: inset(50% 0 0 0);
    background-color: var(--bg-count-light);
}
.bottom-slider{
    background-color: var(--bg-count-light);
    position: absolute;
    bottom: 0px;
    left: 0px;
    clip-path: inset(50% 0 0 0);
    transform: rotate3d(1,0,0,-90deg);
}
.stat{
    padding-top: 10px;
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
    color:var(--text-stat);
    font-weight: bold;
}
.social-links{
    width: 136px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.link:hover > svg > path{
    fill: #fb6087;
}
.attribution { font-size: 1.2rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (min-width:768px) {
    :root{
        --height : 90px;
        --width : 100px;
        --border-radius : 8px;
    }
    .attribution { font-size: 1.4rem;}
    body{
        background-position-y: -250px, bottom, 0;
    }
    .container{
        width: 525px;
    }
    h1{
        font-size: 2rem;
        letter-spacing: 0.75rem;
        width: 100%;
    }
    .count-wrapper{
        box-shadow: 0px 8px 0px 0px var(--bg-alt);
    }
    .count{
        font-size: 5rem;
    }
    .line{
        width: 94px;
    }
    .line::after{
        height: 9px;
        width: 9px;
        right: -7px;
        top: -5px;
    }
    .line::before{
        height: 9px;
        width: 9px;
        left: -7px;
        top: -5px;
    }
    .stat{
        padding-top: 20px;
        font-size: 1rem;
    }
}
@media screen and (min-width:1440px) {
    :root{
        --width: 150px;
        --height: 140px;
    }
    .attribution { font-size: 1.8rem;}
    .container{
        width: 690px;
    }
    h1{
        font-size: 2.2rem;
    }
    .countdown{
        padding-top: 100px;
    }
    .count-wrapper{
        box-shadow: 0px 12px 0px 0px var(--bg-alt);
    }
    .count{
        font-size: 8rem;
    }
    .line{
        width: 144px;
    }
    .line::after{
        height: 12px;
        width: 12px;
        right: -7px;
        top: -5px;
    }
    .line::before{
        height: 12px;
        width: 12px;
        left: -7px;
        top: -5px;
    }
    .stat{
        padding-top: 20px;
        font-size: 1.4rem;
        letter-spacing: 0.6rem;
    }
}